<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinacreUninstaller"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.LinacreUninstaller.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.LinacreUninstaller.NoActionBar" />

        <!-- Stable launcher alias. This fixes builds that installed but were hard to find by
             giving the app a short, searchable launcher name: “Uninstaller”. -->
        <activity-alias
            android:name=".LauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/launcher_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
